name: Code Embedder

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  code_embedder:
    name: "Code Embedder"
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Code Embedder
        uses: kvankova/code-embedder@460390edd4abe7ac7d8575b111e903c74f34f9da
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
