name: Code Embedder

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  code_embedder:
    name: "Code Embedder"
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run Code Embedder
        uses: kvankova/code-embedder@7c080d55a0aba10af2e67009b8b8fc9825f6ff96
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
